---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main
      class="prose prose-neutral prose-invert px-10 mx-auto md:px-0 prose-lg relative"
    >
      <h1>Projects</h1>
      <p>
        This is a non exhaustive list of projects I am working on or have worked
        on.
      </p>

      <p class="text-3xl">–</p>

      <p>
        <a href="https://ic-alloy.dev">ic-alloy</a> – A fork of Alloy that supports the Internet Computer (ICP).
        </a>
      </p>

      <p>
        <a href="https://catts.run">C–ATTS</a> – Composite attestations are a new type
         of attestation combining data from multiple sources to form a unified and 
         verifiable credential.
        </a>
      </p>

      <p>
        <a 
          href="https://github.com/kristoferlund/ic-siws">ic-siws</a> is a project that 
          enables Solana wallet-based authentication for applications on the Internet 
          Computer (IC) platform.
          </a>
          </p>

      <p>
        <a
          href="https://github.com/kristoferlund/ic-siwe"
          >ic-siwe</a
        >
        is a Rust library that provides the necessary tools for integrating Sign-In
        with Ethereum (SIWE) into IC canisters, allowing users to sign in using their
        Ethereum wallets.
      </p>
      <p>
        <a href="https://github.com/kristoferlund/ic-use-internet-identity"
          >ic-use-internet-identity</a
        > is a hook that makes it easy to integrate Internet Identity into your React
        application. It provides a simple interface for logging in and out with the
        Internet Identity service.
      </p>

      <p>
        <a href="https://github.com/kristoferlund/ic-use-actor">ic-use-actor</a>
        is a React hook and context provider for managing Internet Computer (IC)
        actors with features like type safety and request/response interceptors.
        ic-use-actor makes interacting with Internet Computer canisters more fun!
      </p>

      <p>
        <a href="https://github.com/kristoferlund/attest-fest">attest-fest</a>
        Batch create onchain EAS attestations using the power of CSV and copy/paste.
        Supports any old ETH wallet as well as fancy new Safe multisig wallets. It's
        an attest fest, yaay!
      </p>

      <p>
        <a href="https://github.com/kristoferlund/duet-gpt">duet-gpt</a> is an experimental
        AI powered CLI tool and semi-autonomous agent that helps developers with
        coding tasks and file system tasks.
      </p>

      <p>
        <a href="https://github.com/kristoferlund/ic-pos">ic-pos</a> Accept Bitcoin
        payments (ckBTC) on the Internet Computer using this simple Point of Sale
        (POS) application.
      </p>
    </main>
  </body>
</html>
