---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  OpenIcon,
  CloseIcon,
} from "astro-navbar";
---

<header>
  <Astronav>
    <div class="flex justify-between m-5 md:hidden mb-10">
      <h2 class="text-2xl font-bold"><a href="/">{SITE_TITLE}</a></h2>
      <MenuIcon>
        <OpenIcon>
          <Icon name="mdi:menu" class="w-8 h-8" />
        </OpenIcon>
        <CloseIcon>
          <Icon name="mdi:close" class="w-8 h-8" />
        </CloseIcon>
      </MenuIcon>
    </div>
    <MenuItems class="hidden w-full h-screen">
      <ul>
        <li class="p-5 w-full flex justify-center text-2xl">
          <a href="/">Home</a>
        </li>
        <li class="p-5 w-full flex justify-center text-2xl">
          <a href="/blog">Articles</a>
        </li>
        <li class="p-5 w-full flex justify-center text-2xl">
          <a href="/projects">Projects</a>
        </li>
        <li class="p-5 flex gap-5 justify-center">
          <a href="https://twitter.com/kristoferlund" target="_blank">
            <Icon name="fa6-brands:x-twitter" class="w-8 h-8" />
          </a>
          <a href="https://github.com/kristoferlund" target="_blank">
            <Icon name="fa6-brands:github" class="w-8 h-8" />
          </a>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
  <nav
    class="md:flex hidden gap-5 justify-between items-center p-10 w-full mb-10"
  >
    <h2 class="text-2xl font-bold"><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex gap-5 text-xl">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Articles</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
    </div>
    <div class="flex gap-5 w-[165px] justify-end">
      <a href="https://twitter.com/kristoferlund" target="_blank">
        <Icon name="fa6-brands:x-twitter" class="w-8 h-8" />
      </a>
      <a href="https://github.com/kristoferlund" target="_blank">
        <Icon name="fa6-brands:github" class="w-8 h-8" />
      </a>
    </div>
  </nav>
</header>
